@model project_election.Models.LocalList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LocalList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfVotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfVotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectionArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectionArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Governorate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governorate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
